<?xml version="1.0"?>

<robot name="sensor_d435i" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="name" default="D435i_camera"/>
    <xacro:arg name="parent" default="world"/>

    <xacro:arg name="x" default="0"/>
    <xacro:arg name="y" default="0"/>
    <xacro:arg name="z" default="0"/>
    <xacro:arg name="roll" default="0"/>
    <xacro:arg name="pitch" default="0"/>
    <xacro:arg name="yaw" default="0"/>
    
    <xacro:arg name="enable_pointCloud" default="false"/>
    
	<xacro:include filename="$(find realsense_gazebo_description)/urdf/_d435i.urdf.xacro"/>
	
 	<link name="$(arg parent)"/>
	<xacro:sensor_d435i parent="$(arg parent)" name="$(arg name)" topics_ns="$(arg name)" enable_pointCloud="$(arg enable_pointcloud)">
		<origin xyz="$(arg x) $(arg y) $(arg z)" rpy="$(arg roll) $(arg pitch) $(arg yaw)"/>
	</xacro:sensor_d435i>

</robot>
